# Single Source of Truth

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

## Barangays

[Philippines Administrative Boundaries JSON Maps](https://github.com/altcoder/philippines-psgc-shapefiles) by [altcoder](https://github.com/altcoder).

In [2]:
barangays = gpd.read_file(filename = 'input/Barangays.zip')

barangays = barangays[barangays['ADM3_EN'] == 'City of Cauayan']

barangays = barangays[['ADM4_EN', 'geometry']]

barangays.columns = ['Barangay', 'geometry']

barangays.set_index(keys = 'Barangay', inplace = True)

## CBMS 2016 RESULTS

In [3]:
path = 'input/CBMS 2016 RESULTS.xlsx'

In [4]:
population = pd.read_excel(io = path,
                           sheet_name = 'POPULATION',
                           names = ['Barangay',
                                    'Total no. of Households',
                                    'Total no. of Population',
                                    'Total no. of Population (Male)',
                                    'Total no. of Population (Female)'],
                           index_col = 0,
                           usecols = 'B:F',
                           skiprows = 3,
                           nrows = 65)

In [5]:
poverty = pd.read_excel(io = path,
                        sheet_name = 'POVERTY',
                        names = ['Barangay',
                                 'households wih income below poverty threshold'],
                        index_col = 0,
                        usecols = 'B, D',
                        skiprows = 6,
                        nrows = 65)

In [6]:
informal_settlers = pd.read_excel(io = path,
                                  sheet_name = 'INFORMAL SETTLERS',
                                  names = ['Barangay',
                                           'Households who are Informal settlers',
                                           'Household living in Makeshift housing'],
                                  index_col = 0,
                                  usecols = 'B, D:E',
                                  skiprows = 6,
                                  nrows = 65)

In [7]:
unemployment = pd.read_excel(io = path,
                             sheet_name = 'UNEMPLOYMENT',
                             names = ['Barangay',
                                      'number of members of the labor force (Total)',
                                      'number of members of the labor force (Male)',
                                      'number of members of the labor force (Female)',
                                      'unemployed members of the labor force (Magnitude, Total)',
                                      'unemployed members of the labor force (Magnitude, Male)',
                                      'unemployed members of the labor force (Magnitude, Female)',
                                      'unemployed members of the labor force (Proportion, Total)',
                                      'unemployed members of the labor force (Proportion, Male)',
                                      'unemployed members of the labor force (Proportion, Female)'],
                             index_col = 0,
                             usecols = 'B:K',
                             skiprows = 7,
                             nrows = 65)

In [8]:
underemployed = pd.read_excel(io = path,
                              sheet_name = 'UNDEREMPLOYED',
                              names = ['Barangay',
                                       'number of Employed members of the labor force (Total)',
                                       'number of Employed members of the labor force (Male)',
                                       'number of Employed members of the labor force (Female)',
                                       'underemployed workers (Magnitude, Total)',
                                       'underemployed workers (Magnitude, Male)',
                                       'underemployed workers (Magnitude, Female)',
                                       'underemployed workers (Proportion, Total)',
                                       'underemployed workers (Proportion, Male)',
                                       'underemployed workers (Proportion, Female)'],
                              index_col = 0,
                              usecols = 'B:K',
                              skiprows = 7,
                              nrows = 65)

In [9]:
senior_citizens = pd.read_excel(io = path,
                                sheet_name = 'SENIOR CITIZENS',
                                names = ['Barangay',
                                         'number of senior citizens (Total)',
                                         'number of senior citizens (Male)',
                                         'number of senior citizens (Female)',
                                         'Senior citizens with ID (Magnitude, Total)',
                                         'Senior citizens with ID (Magnitude, Male)',
                                         'Senior citizens with ID (Magnitude, Female)',
                                         'Senior citizens with ID (Proportion, Total)',
                                         'Senior citizens with ID (Proportion, Male)',
                                         'Senior citizens with ID (Proportion, Female)'],
                                index_col = 0,
                                usecols = 'B:K',
                                skiprows = 7,
                                nrows = 65)

In [10]:
pwd = pd.read_excel(io = path,
                    sheet_name = 'PWD',
                    names = ['Barangay',
                             'PWD Indicator (TOTAL)'],
                    index_col = 0,
                    usecols = 'B:C',
                    skiprows = 2,
                    nrows = 65)

In [11]:
malnourished_children = pd.read_excel(io = path,
                                      sheet_name = 'MALNOURISHED CHILDREN',
                                      names = ['Barangay',
                                               'number of children 0-5 years old (Total)',
                                               'number of children 0-5 years old (Male)',
                                               'number of children 0-5 years old (Female)',
                                               'malnourished children 0-5 years old (Magnitude, Total)',
                                               'malnourished children 0-5 years old (Magnitude, Male)',
                                               'malnourished children 0-5 years old (Magnitude, Female)',
                                               'malnourished children 0-5 years old (Proportion, Total)',
                                               'malnourished children 0-5 years old (Proportion, Male)',
                                               'malnourished children 0-5 years old (Proportion, Female)'],
                                      index_col = 0,
                                      usecols = 'B:K',
                                      skiprows = 5,
                                      nrows = 65)

In [12]:
electricity = pd.read_excel(io = path,
                            sheet_name = 'ELECTRICITY',
                            names = ['Barangay',
                                     'Households with access to electricty'],
                            index_col = 0,
                            usecols = 'B, D',
                            skiprows = 8,
                            nrows = 65)

In [13]:
victims_of_crime = pd.read_excel(io = path,
                                 sheet_name = 'VICTIMS OF CRIME',
                                 names = ['Barangay',
                                          'victims of crime (Magnitude, Total)',
                                          'victims of crime (Magnitude, Male)',
                                          'victims of crime (Magnitude, Female)',
                                          'victims of crime (Proportion, Total)',
                                          'victims of crime (Proportion, Male)',
                                          'victims of crime (Proportion, Female)'],
                                 index_col = 0,
                                 usecols = 'B, F:K',
                                 skiprows = 7,
                                 nrows = 65)

In [14]:
poverty.index = population.index
informal_settlers.index = population.index
unemployment.index = population.index
underemployed.index = population.index
senior_citizens.index = population.index
pwd.index = population.index
malnourished_children.index = population.index
electricity.index = population.index
victims_of_crime.index = population.index

In [15]:
cbms = population.join(poverty.join(informal_settlers.join(unemployment.join(underemployed.join(senior_citizens.join(pwd.join(malnourished_children.join(electricity.join(victims_of_crime)))))))))

## Entrepreneurial activity per Barangay (2016-2017)

In [16]:
ea = pd.read_excel(io = r'input/Barangay/Entrepreneurial activity per Barangay (2016-2017).xlsx',
                   usecols = 'B, D',
                   skiprows = 10)

ea.dropna(inplace = True)

ea = pd.DataFrame(data = np.array(ea.iloc[:, -1]).reshape(65, 11),
                  index = cbms.index,
                  columns = list(ea.iloc[0:11, 0]),
                  dtype = 'int64')

## No. of OFWs per Barangay (2016-2017)

In [17]:
noo = pd.read_excel(io = r'input/Barangay/No. of OFWs per Barangay (2016-2017).xlsx',
                    names = ['Barangay',
                             'OFW'],
                    index_col = 0,
                    usecols = 'C:D',
                    skiprows = 1,
                    nrows = 65)

## Singe Source of Truth

In [18]:
barangays.index = cbms.index
noo.index = cbms.index

In [19]:
ssot = barangays.join(cbms.join(ea.join(noo)))

In [20]:
ssot.rename(index = {'Carabatan Bacareño' : 'Carabatan Bacareno'}, inplace = True)

for i in ssot.select_dtypes(include = 'float64').columns:
    ssot[i] = round(ssot[i], 2)

In [21]:
ssot.iloc[:, 1:].to_csv('output/ssot.csv')

ssot.to_file('output/ssot.geojson', driver = 'GeoJSON')

ssot.to_file('output/ssot/ssot.shp')

C:\Users\Ronald Benz\AppData\Local\Temp\ipykernel_8416\3509592212.py:5: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  ssot.to_file('output/ssot/ssot.shp')

### Metadata

In [22]:
ssot.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 65 entries, Alicaocao to Villa Flor
Data columns (total 64 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   geometry                                                    65 non-null     geometry
 1   Total no. of Households                                     65 non-null     int64
 2   Total no. of Population                                     65 non-null     int64
 3   Total no. of Population (Male)                              65 non-null     int64
 4   Total no. of Population (Female)                            65 non-null     int64
 5   households wih income below poverty threshold               65 non-null     int64
 6   Households who are Informal settlers                        65 non-null     int64
 7   Household living in Makeshift housing                       65 non-null     int64
 8   number of members of the labor force (Total)                65 non-null     int64
 9   number of members of the labor force (Male)                 65 non-null     int64
 10  number of members of the labor force (Female)               65 non-null     int64
 11  unemployed members of the labor force (Magnitude, Total)    65 non-null     int64
 12  unemployed members of the labor force (Magnitude, Male)     65 non-null     int64
 13  unemployed members of the labor force (Magnitude, Female)   65 non-null     int64
 14  unemployed members of the labor force (Proportion, Total)   65 non-null     float64
 15  unemployed members of the labor force (Proportion, Male)    65 non-null     float64
 16  unemployed members of the labor force (Proportion, Female)  65 non-null     float64
 17  number of Employed members of the labor force (Total)       65 non-null     int64
 18  number of Employed members of the labor force (Male)        65 non-null     int64
 19  number of Employed members of the labor force (Female)      65 non-null     int64
 20  underemployed workers (Magnitude, Total)                    65 non-null     int64
 21  underemployed workers (Magnitude, Male)                     65 non-null     int64
 22  underemployed workers (Magnitude, Female)                   65 non-null     int64
 23  underemployed workers (Proportion, Total)                   65 non-null     float64
 24  underemployed workers (Proportion, Male)                    65 non-null     float64
 25  underemployed workers (Proportion, Female)                  65 non-null     float64
 26  number of senior citizens (Total)                           65 non-null     int64
 27  number of senior citizens (Male)                            65 non-null     int64
 28  number of senior citizens (Female)                          65 non-null     int64
 29  Senior citizens with ID (Magnitude, Total)                  65 non-null     int64
 30  Senior citizens with ID (Magnitude, Male)                   65 non-null     int64
 31  Senior citizens with ID (Magnitude, Female)                 65 non-null     int64
 32  Senior citizens with ID (Proportion, Total)                 65 non-null     float64
 33  Senior citizens with ID (Proportion, Male)                  65 non-null     float64
 34  Senior citizens with ID (Proportion, Female)                65 non-null     float64
 35  PWD Indicator (TOTAL)                                       65 non-null     int64
 36  number of children 0-5 years old (Total)                    65 non-null     int64
 37  number of children 0-5 years old (Male)                     65 non-null     int64
 38  number of children 0-5 years old (Female)                   65 non-null     int64
 39  malnourished children 0-5 years old (Magnitude, Total)      65 non-null     int64
 40  malnourished children 0-5 years old (Magnitude, Male)       65 non-null     int64
 41  malnourished children 0-5 years old (Magnitude, Female)     65 non-null     int64
 42  malnourished children 0-5 years old (Proportion, Total)     65 non-null     float64
 43  malnourished children 0-5 years old (Proportion, Male)      65 non-null     float64
 44  malnourished children 0-5 years old (Proportion, Female)    65 non-null     float64
 45  Households with access to electricty                        65 non-null     int64
 46  victims of crime (Magnitude, Total)                         65 non-null     int64
 47  victims of crime (Magnitude, Male)                          65 non-null     int64
 48  victims of crime (Magnitude, Female)                        65 non-null     int64
 49  victims of crime (Proportion, Total)                        65 non-null     float64
 50  victims of crime (Proportion, Male)                         65 non-null     float64
 51  victims of crime (Proportion, Female)                       65 non-null     float64
 52  engaged in crop farming and gardening                       65 non-null     int64
 53  engaged in livestock/poultry                                65 non-null     int64
 54  engaged in fishing                                          65 non-null     int64
 55  engaged in forestry                                         65 non-null     int64
 56  engaged in wholesale/retail                                 65 non-null     int64
 57  engaged in manufacturing                                    65 non-null     int64
 58  engaged in community, social & personal service             65 non-null     int64
 59  engaged in transportation, storage & communicat             65 non-null     int64
 60  engaged in mining & quarrying                               65 non-null     int64
 61  engaged in construction                                     65 non-null     int64
 62  other activities nec                                        65 non-null     int64
 63  OFW                                                         65 non-null     int64
dtypes: float64(15), geometry(1), int64(48)
memory usage: 35.1+ KB

In [23]:
ssot.head()

,geometry,Total no. of Households,Total no. of Population,Total no. of Population (Male),Total no. of Population (Female),households wih income below poverty threshold,Households who are Informal settlers,Household living in Makeshift housing,number of members of the labor force (Total),number of members of the labor force (Male),...,engaged in fishing,engaged in forestry,engaged in wholesale/retail,engaged in manufacturing,"engaged in community, social & personal service","engaged in transportation, storage & communicat",engaged in mining & quarrying,engaged in construction,other activities nec,OFW
Barangay,,,,,,,,,,,,,,,,,,,,,
Alicaocao,"POLYGON ((121.77908 16.95717, 121.78008 16.954...",572,2129,1090,1039,180,14,8,799,564,...,2,0,45,0,2,40,0,7,3,44
Alinam,"POLYGON ((121.74597 16.86982, 121.75007 16.866...",243,944,506,438,97,0,3,351,257,...,0,0,39,0,1,29,0,9,1,32
Amobocan,"POLYGON ((121.81306 16.86129, 121.81306 16.861...",235,849,447,402,119,7,7,298,221,...,0,1,4,0,0,5,0,3,0,35
Andarayan,"POLYGON ((121.81147 16.94769, 121.80938 16.947...",86,304,164,140,43,1,2,134,90,...,0,0,5,0,0,3,0,0,0,8
Baculod,"POLYGON ((121.87459 16.88364, 121.87796 16.882...",483,1652,867,785,238,7,12,657,510,...,0,0,18,0,1,12,0,10,2,40

## Data

In [24]:
data = pd.DataFrame(data = np.array([['CBMS 2016 RESULTS', 'POPULATION', '+'.join(list(population.columns))],
                                     ['CBMS 2016 RESULTS', 'POVERTY', '+'.join(list(poverty.columns))],
                                     ['CBMS 2016 RESULTS', 'INFORMAL SETTLERS', '+'.join(list(informal_settlers.columns))],
                                     ['CBMS 2016 RESULTS', 'UNEMPLOYMENT', '+'.join(list(unemployment.columns))],
                                     ['CBMS 2016 RESULTS', 'UNDEREMPLOYED', '+'.join(list(underemployed.columns))],
                                     ['CBMS 2016 RESULTS', 'SENIOR CITIZENS', '+'.join(list(senior_citizens.columns))],
                                     ['CBMS 2016 RESULTS', 'PWD', '+'.join(list(pwd.columns))],
                                     ['CBMS 2016 RESULTS', 'MALNOURISHED CHILDREN', '+'.join(list(malnourished_children.columns))],
                                     ['CBMS 2016 RESULTS', 'ELECTRICITY', '+'.join(list(electricity.columns))],
                                     ['CBMS 2016 RESULTS', 'VICTIMS OF CRIME', '+'.join(list(victims_of_crime.columns))],
                                     ['Entrepreneurial activity per Barangay (2016-2017)', 'Entrepreneurial activity per Barangay (2016-2017)', '+'.join(list(ea.columns))],
                                     ['No. of OFWs per Barangay (2016-2017)', 'No. of OFWs per Barangay (2016-2017)', '+'.join(list(noo.columns))]]),
                    columns = ['Data', 'Sheet', 'Column'])

In [25]:
data.to_csv('output/data.csv', index = False)

### Metadata

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data    12 non-null     object
 1   Sheet   12 non-null     object
 2   Column  12 non-null     object
dtypes: object(3)
memory usage: 416.0+ bytes

In [27]:
data.head()

,Data,Sheet,Column
0,CBMS 2016 RESULTS,POPULATION,Total no. of Households+Total no. of Populatio...
1,CBMS 2016 RESULTS,POVERTY,households wih income below poverty threshold
2,CBMS 2016 RESULTS,INFORMAL SETTLERS,Households who are Informal settlers+Household...
3,CBMS 2016 RESULTS,UNEMPLOYMENT,number of members of the labor force (Total)+n...
4,CBMS 2016 RESULTS,UNDEREMPLOYED,number of Employed members of the labor force ...